* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: white;
}

.actionword {
    color: #CE4A33;
}

/* Header Below */

.header {
    position: relative;
    padding: 0 2rem;
    background-color: white;
    width: 100%;
    height: 140px;
}

.header .info-bar {
    display: flex;
    height: 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

.header .info-bar a {
    color: #333;
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
    line-height: .9;
    margin-left: 1rem;
    letter-spacing: 1px;
}

.header .info-bar a:hover {
    color: #CE4A33;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: #333;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    line-height: .9;
    margin-left: 1rem;
    letter-spacing: 1px;
    font-family: "Bebas Neue", sans-serif;
}

.navbar a:hover {
    transition: .2s;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 7rem;
}

.navbar .logo a {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
}

.navbar .links {
   display: flex;
   gap: 1rem;
}

.navbar .links a {
    position: relative;
}

.navbar .links a:hover {
    color: #CE4A33;
}

.navbar .toggle-btn {
    color: #CE4A33;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* DROPDOWN MENU */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 100px;
    height: 0;
    width: 300px;
    background: #CE4A33;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.dropdown-menu.open {
    height: 207px;
    z-index: 1;
}

.dropdown-menu li {
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu a {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdown-menu a:hover {
    scale: 1.05;
}

/* RESPONSIVE NAV */

@media (max-width: 995px) {
    .navbar .links {
        display: none;
        color: #CE4A33;
    }
    .navbar .toggle-btn {
        display: block;
    }
    .dropdown-menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}

@media (max-width: 519px) {
    .header .info-bar a {
        font-size: .6rem;
        letter-spacing: normal;
    }
}

/* HERO SECTION */

.hero {
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.hero #bgvideo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero p {
    font-size: 1.5rem;
    padding: 0 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.hero h1 {
    font-size: 7rem;
    padding: 1rem 3rem;
    text-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.08);
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

.hero a {
    background-color: #CE4A33;
    color: white;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    transition: all .1s ease-in-out;
}

.hero a:hover {
    scale: 1.05;
    background-color: #832f20;
}

.hero a:active {
    scale: .95;
}

/* RESPONSIVE HERO */

@media (max-width: 673px) {
    .hero h1 {
        font-size: 5rem;
    }
    .hero p {
        font-size: 1.25rem;
    }
}

@media (max-width: 519px) {
    .hero h1 {
        font-size: 3rem;
    }
    .hero p {
        font-size: 1rem;
        padding: 0 1rem;
    }
    .hero li a {
        font-size: 1rem;
    }
}

/* AMENITIES SECTION */

.amenities {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    text-align: center;
    background-color: #CE4A33;
    place-items: center;
}

.amenities header {
    color: white;
    margin: 2rem;
}

.amenities header h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
}

.amenities header p {
    font-size: 1.5rem;
}

.amenities .container {
    display: grid;
    grid-template-columns: minmax(250px, 400px);
    gap: 1rem;
}

.amenities .container .amenities-group {
    margin: 1rem;
    padding: 2rem;
    background-color: white;
    color:#CE4A33;
    border-radius: 5px;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.08);
    transition: all .3s ease-in-out;
}

.amenities .container .amenities-group:hover {
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.2);
}

.amenities .container .amenities-group i {
    font-size: 5rem;
}

.amenities .container .amenities-group h3 {
    margin: 1rem 0;
    font-weight: 800;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}

/* AMENITIES RESPONSIVE DESIGN */

@media (min-width: 720px) {
    .amenities .container {
        grid-template-columns: minmax(250px, 400px) minmax(250px, 400px);
        gap: 2rem;
    }
}

@media (min-width: 1200px) {
    .amenities .container {
        grid-template-columns: minmax(250px, 400px) minmax(250px, 400px) minmax(250px, 400px) minmax(250px, 400px);
    }
}

/* ABOUT SECTION */

/* BOOK ONLINE SECTION */

/* FOOTER SECTION */

footer {
    background-color: #F0F0F0;
    padding: 2rem 2rem;
}

footer .container {
    max-width: 1000px;
    margin: auto;
}

footer .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .container .row .footer-col {
    width: auto;
    padding: 0 1rem;
}

footer .container .row .footer-col h4 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #265023;
    margin-bottom: 1rem;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5rem;
    background-color: #265023;
    height: 2px;
    box-sizing: border-box;
    width: 3rem;
}

.footer-col ul {
    margin-top: 1.25rem;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 1rem;
    text-transform: capitalize;
    color: #53AE4D;
    font-weight: 500;
    display: block;
    transition: .3s ease;
}

.footer-col ul li a:hover {
    color: #265023;
}

.footer-col .social-links {
    display: inline-block;
    cursor: pointer;
}

.footer-col .social-links i {
    color: #53AE4D;
    font-size: 2rem;
    margin: 0 .5rem .5rem;
    transition: .3s ease;
}

.footer-col .social-links i:first-child {
    margin-top: .3rem;
    margin-left: 0;
}

.footer-col .social-links i:hover {
    color: #265023
}

/* FOOTER RESONSIVE DESIGN */

@media (max-width: 694px) {
    footer .container .row .footer-col {
        width: 50%;
        padding: 1rem;
    }
}

@media (max-width: 427px) {
    footer .container .row .footer-col {
        width: 100%;
        padding: 1rem;
    }
}


/* CONTACT PAGE BELOW */

/*CONTACT INFO BELOW*/

.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(50vh - 80px);
    width: 100vw;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: white;
    background-image: url(photos/old-house.jpg);
    background-color: rgba(0, 0, 0, .3);
    background-size: cover;
    background-position: bottom;
    background-blend-mode: darken;
}

.contact header h2 {
    font-size: 4rem;
    margin: 2rem 1rem .5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.contact header p {
    font-size: 1.5rem;
    margin: .5rem 1rem 2rem;
    font-weight: 500;
    text-align: center;
}

.contact .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.contact .container .contact-info {
    width: 50%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.contact .container .contact-info .box {
    position: relative;
    padding: 1rem 0;
    display: flex;
}

.contact .container .contact-info .box .icon {
    min-width: 60px;
    height: 60px;
    background: #53AE4D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
}

.contact .container .contact-info .box .text {
    display: flex;
    margin-left: 1rem;
    font-size: 1rem;
    flex-direction: column;
    font-weight: 500;
}

.contact .container .contact-info .box h3 {
    font-weight: 700;
}

.contact-form {
    width: 50%;
    max-width: 450px;
    padding: 1.5rem;
    background:#53AE4D;
    border-radius: 15px;
    color: white;
}

.contact-form h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 0.5rem;
}

.contact-form .input-box input, textarea {
    width: 100%;
    padding: .25rem 0;
    font-size: 1rem;
    margin: .5rem 0;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    background: #53AE4D;
    color: white;
    font-weight: 500;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: .25rem 0;
    font-size: 1rem;
    margin: .5rem 0;
    pointer-events: none;
    transition: .5s;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
    font-size: .6rem;
    transform: translateY(-15px);
}

.contact-form .input-box input[type="submit"] {
    width: 100%;
    background: white;
    color: #53AE4D;
    border-radius: 15px;
    cursor: pointer;
}

/* CONTACT SECTION RESPONSIVE DESIGN */

@media (max-width: 1133px) {
    .contact .container {
        flex-direction: column;
    }
    .contact .container .contact-form {
        margin-top: 2rem;
        min-width: 300px;
        justify-content: center;
    }
    .contact .container .contact-info {
        min-width: 300px;
        justify-content: center;
    }
}

/* NEW REQUEST SECTION */

.request header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #53AE4D;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 4rem 0 1rem;
}

.request header h2 {
    font-size: 2rem;
    margin: 2rem 1rem .5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: white;
}

.request header p {
    font-size: 1rem;
    margin: .5rem 1rem 2rem;
    font-weight: 500;
    text-align: center;
    color: white;
}

/* SERVICES PAGE BELOW */

/* HERO SECTION */

.services-hero {
    height: calc(70vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    background-image: url(photos/stripes.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

/* .services-hero #bgvideo {
    width: 100%;
    height: calc(70vh);
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
} */

.services-hero h1 {
    font-size: 6rem;
    padding: 1rem 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    font-weight: 900;
}

.services-hero p {
    font-size: 3rem;
    padding: 0 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.services-hero ul {
    display: inline-block;
}

.services-hero li {
    padding: 1rem;
}

.services-hero a {
    background-color: #53ae4d;
    color: white;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: scale .2 ease;
}

.services-hero a:hover {
    background-color: #265023;
    transition: .2s ease;
}

/* RESPONSIVE SERVICES HERO */

@media (max-width: 428px) {
    .services-hero h1 {
        font-size: 3.5rem;
    }
    .services-hero p {
        font-size: 1.25rem;
    }
}

/* MOW TRIM CLEAN UP SECTION */

.mowtrimcleanup {
    width: 100%;
    height: auto;
    background-image: url(backgrounds/stripes-bg-green.jpg);
    display: flex;
    align-items: center;
}

.mowtrimcleanup .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mowtrimcleanup .container .text {
    width: 50%;
    margin: 3rem 1.5rem 3rem 5rem;
    color: white;
}

.mowtrimcleanup .container .text h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 800;
}

.mowtrimcleanup .container .text p {
    font-size: 1rem;
    line-height: 1.75rem;
}

.mowtrimcleanup .container img {
    width: 50%;
    margin: 3rem 5rem 3rem 1.5rem;
    border-radius: 15px;
    object-fit: cover;
}

/* MOW TRIM CLEAN UP RESPONSIVE DESIGN */

@media (max-width: 965px) {
    .mowtrimcleanup .container {
        flex-direction: column;
    }
    .mowtrimcleanup .container img {
        margin: 1.5rem 1rem 3rem;
        width: 80%;
    }
    .mowtrimcleanup .container .text {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 3rem 1rem 1.5rem;
    }

    .mowtrimcleanup .container .text p {
        width: 50%;
        align-self: center;
        margin-left: 1rem;
    }

    .mowtrimcleanup .container .text h2 {
        width: 50%;
        align-self: center;
        margin: 0 1rem 0 0 ;
        font-size: 3rem;
    }
}

@media (max-width: 714px) {
    .mowtrimcleanup .container .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 1.5rem 1rem 1rem;
    }
    .mowtrimcleanup .container .text p {
        width: 80%;
        align-self: center;
        margin: 0;
    }
    .mowtrimcleanup .container .text h2 {
        width: 80%;
        align-self: center;
        font-size: 3rem;
        margin: 0 0 1rem 0;
    }
}

/* KEY SERVICES SECTION */

.key-services header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.key-services header h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}

.cards {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.cards .card {
    background-color: #53AE4D;
    color: white;
    padding: 2rem 2rem;
    text-align: center;
    overflow: hidden;
    border-radius: 15px;
}

.cards .card h3 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    translate: 0 3rem;
    transition: .2s ease-in-out;
}

.cards .card p {
    translate: 0 300px;
    transition: .2s ease-in-out;
}

.cards .card:hover > p {
    translate: 0 0;
}

.cards .card:hover > h3 {
    translate: 0 0;
}

/* ABOUT PAGE */

/* ABOUT PAGE HERO DESIGN */

.about-hero {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(photos/mom-and-dad.jpg);
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

.about-hero h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    width: 70%;
    color: white;
}

/* INTRODUCTION SECTION DESIGN */

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.intro header h2 {
    font-size: 3rem;
}

.intro article {
    max-width: 600px;
    margin: 0 5rem;
}

.intro article p {
    margin: 1rem 0;
}